/*=========================================*/
/*===================header===media===tablet============*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-burger svg {
    width: 32px;
    height: 32px;
  }

  .modal-container {
    min-width: 290px;
  }
}

@media screen and (min-width: 335px) and (max-width: 1136px) {
  .header-list {
    display: none;
  }

  .header-social {
    display: none;
  }
}

/*===================header===media===desktop============*/
@media screen and (min-width: 1136px) {
  .container {
    max-width: 1136px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 36px;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 188px;
  }
  .header-link {
    font-size: 18px;
    line-height: 1.11;
  }

  .header-link svg {
    width: 24px;
    height: 24px;
  }
  .header-burger {
    display: none;
  }

  .modal {
    display: none;
  }

  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .header-item {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }

  .header-item__link {
    color: #111;
    padding-top: 28px;
    padding-bottom: 36px;
    transition: all 250ms;
  }
  .header-item__link:hover,
  .header-item__link:focus {
    color: #5c3100;
    text-decoration: underline;
  }
  .header-social {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
  }
  .header-social__link svg {
    width: 24px;
    height: 24px;
    stroke: #111111;
    fill: #ffffff;
    transition: all 250ms;
  }
  .header-social__link svg:hover {
    stroke: #fd9222;
  }
}

/*=========================================*/
/*=========================================*/
/*===================hero===media===tablet============*/
@media screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }

  .hero-section {
    padding: 0 40px;
    padding-bottom: 90px;
  }

  .hero-container {
    background-image: url(../image/hero-section/chocolate-tab.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;
    padding: 671px 40px 40px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-container {
      background-image: url(../image/hero-section/chocolate-tab@2x.jpg);
    }
  }

  .hero-title {
    max-width: 484px;
    font-size: 28px;
  }

  .hero-clicks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .hero-link-down {
    gap: 14px;
  }
  .hero-link-down span {
    font-size: 14px;
  }
  .hero-link-down svg {
    display: block;
    box-sizing: content-box;
    width: 22px;
    height: 22px;
    padding: 8px;
  }
}

@media screen and (min-width: 335px) and (max-width: 1136px) {
}

/*===================hero===media===desktop============*/
@media screen and (min-width: 1136px) {
  .section {
    padding: 64px 0;
  }

  .hero-section {
    padding: 0 40px;
    padding-bottom: 110px;
  }
  .hero-container {
    background-image: url(../image/hero-section/chocolate-desk.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    background-position: center;
    padding: 381px 40px 40px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-container {
      background-image: url(../image/hero-section/chocolate-desk@2x.jpg);
    }
  }
}

/*=========================================*/
/*===================about===media===tablet============*/
@media screen and (min-width: 768px) {
  .about-us__container {
    padding: 32px;
  }
  .about-us__list {
    display: flex;
    flex-direction: row;
    gap: 32px 62px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 335px) and (max-width: 1136px) {
}

/*===================about===media===desktop============*/
@media screen and (min-width: 1136px) {
  .about-us__container {
    padding: 50px;
  }
  .about-us__list {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 20px 70px;
  }
  .about-us__item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
  .about-us__item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 124px;
    background-color: rgba(255, 255, 255, 0.5);
    top: 60px;
    right: -19px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .item-about__svg {
    display: flex;
    align-self: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    padding: 17px;
  }
  .item-about__svg svg {
    fill: rgb(253, 146, 34);
  }
  .item-about__content {
    max-width: auto;
    max-width: 326px;
  }
}
/*=========================================*/
/*===================sensations===media===tablet============*/
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
  }
  .sensations__title-container {
    margin: 0 auto;
    max-width: 486px;
    gap: 28px;
    margin-bottom: 50px;
  }
  .sensations__title {
    max-width: 400px;
  }
  .sensations__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .sensations__item {
    max-width: 336px;
    width: 100%;
  }
  .sensations__item-title {
    align-self: self-start;
    font-weight: 600;
  }
}

/*===================sensations===media===desktop============*/
@media screen and (min-width: 1136px) {
  .sensations__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .sensations__item {
    max-width: 336px;
    width: 100%;
  }
  .sensations__item-title {
    align-self: self-start;
    font-weight: 600;
  }
  .item-overwiev {
    padding: 20px;
  }
}
/*=========================================*/
/*===================how-made===media===tablet============*/
@media screen and (min-width: 768px) {
  .how-made__title {
    margin-bottom: 50px;
  }

  .how-made__content-container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 52px;
  }
  .how-made__content {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;
  }
  .how-made__content-title {
    max-width: 350px;
  }
  .how-made__content-list {
    max-width: 520px;
  }
}

/*===================how-made===media===desktop============*/
@media screen and (min-width: 1136px) {
  .how-made__title {
    margin-bottom: 50px;
  }

  .how-made__content-container {
    flex-direction: row;
    gap: 52px;
  }
  .how-made__content {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;
  }
  .how-made__content-title {
    max-width: 350px;
  }
  .how-made__content-list {
    max-width: 420px;
    gap: 24px;
  }
}
/*=========================================*/
/*===================products===media===tablet============*/
@media screen and (min-width: 768px) {
  .swiper {
    gap: 32px;
  }
  .products__title {
    margin-bottom: 50px;
  }
  .swiper-slide {
    display: inline-block;
  }
  .products__slide {
    padding: 32px 20px;
  }
}

/*===================products===media===desktop============*/
@media screen and (min-width: 1136px) {
}
/*=========================================*/
/*===================sellers===media===tablet============*/
@media screen and (min-width: 768px) {
  .sellers__title {
    margin-bottom: 50px;
  }
  .sellers__list {
    flex-direction: row;
    gap: 16px;
  }
  .sellers__item {
    gap: 32px;
    max-width: 344px;
  }
  .sellers__item-btn {
    font-size: 18px;
    align-self: self-end;
    padding: 14px 40px;
    border-radius: 100px;
  }
}

/*===================sellers===media===desktop============*/
@media screen and (min-width: 1136px) {
  .sellers__item2 {
    display: flex;
  }
}
/*=========================================*/
/*===================modal-buy===media===tablet============*/
@media screen and (min-width: 768px) {
  .modal-buy__container {
    max-width: 609px;
  }
  .modal-buy__content {
    max-height: 90vh;
    overflow-y: auto;
    height: 100%;
    padding: 48px;
  }
  .modal-buy__close {
    top: 24px;
    right: 24px;
  }
  .modal-buy__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
  }
  .modal-buy__item {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 24px 20px;
    padding-bottom: 18px;
  }
  .modal-buy__item-img {
    width: 120px;
    height: 107px;
  }
  .modal-buy__item-btn {
    padding: 8px 27px;
  }

  .modal-buy__form-info {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
    gap: 21px;
  }
  .modal-buy__form-label {
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
  }
  .modal-buy__form-input {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;

    padding: 22px 24px;
  }
  .modal-buy__form-input-n {
    padding-left: 177px;
  }
  .modal-buy__form-img-cont {
    left: 24px;
    top: 48px;
    gap: 18px;
    padding-right: 32px;
    font-size: 18px;
  }

  .modal-buy__form-input-cont-card svg {
    right: 24px;
    top: 49px;
  }

  .modal-buy__form-input-c {
    padding-right: 70px;
  }
  .modal-buy__form-textarea {
    font-size: 18px;
    padding: 22px 24px;
    min-height: 137px;
  }
  .modal-buy__form-btn {
    padding: 14px 40px;
  }
}

/*===================modal-buy===media===desktop============*/
@media screen and (min-width: 1136px) {
}

/*=========================================*/
/*===================is-love===media===tablet============*/
@media screen and (min-width: 768px) {
  .is-love__title {
    margin-bottom: 91px;
  }
  .my-is-love-swiper {
    gap: 32px;
    margin-bottom: 50px;
  }

  .swiper-slide {
    overflow-y: visible;
    height: auto;
  }
  .is-love__slide {
    position: relative;
    padding: 42px 18px;
    padding-top: 56px;
    box-shadow: 0 9px 27px 0 rgba(215, 228, 249, 0.25);
    background: #fff;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .is-love__btn {
    font-size: 18px;

    padding: 14px 40px;
  }
}
/*===================is-love===media===desktop============*/
@media screen and (min-width: 1136px) {
}
/*=========================================*/
/*===================modal-review===media===tablet============*/
@media screen and (min-width: 768px) {
  .is-love {
    padding-bottom: 100px;
  }
  .modal-review__container {
    max-height: 628px;
    max-width: 517px;
  }
  .modal-review__content {
    max-height: 628px;
    overflow-y: auto;
    height: 100%;
    padding: 15px 40px;
    gap: 40px;
  }
  .modal-review__title {
    text-align: start;
    max-width: 298px;
  }

  .modal-review__form-input {
    font-size: 18px;
    letter-spacing: -0.02em;
    padding: 22px 24px;
  }
  .modal-review__form-input-n {
    padding-left: 177px;
  }
  .modal-review__form-img-cont {
    left: 24px;
    top: 22px;
    gap: 18px;
    padding-right: 32px;
    font-size: 18px;
  }
  .modal-review__form-textarea {
    font-size: 18px;
    padding: 22px 24px;
    min-height: 137px;
  }
  .modal-review__form-btn {
    padding: 14px 40px;
  }
}
/*=========================================*/
/*===================explore===media===tablet============*/
@media screen and (min-width: 768px) {
  .explore {
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: url(../image/subscribe/Subcribe-tab.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .explore {
      background-image: url(../image/subscribe/Subcribe-tab@2x.jpg);
    }
  }
  .explore__title {
    max-width: 378px;
  }
  .explore__content {
    margin: 0 auto;
    gap: 24px;
    max-width: 467px;
  }

  .explore__btn {
    font-size: 18px;

    padding: 14px 40px;
  }
}
/*===================explore===media===desktop============*/
@media screen and (min-width: 1136px) {
  .explore {
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: url(../image/subscribe/Subcribe-desk.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .explore {
      background-image: url(../image/subscribe/Subcribe-desk@2x.jpg);
    }
  }
}
/*=========================================*/
/*===================modal-explore===media===tablet============*/
@media screen and (min-width: 768px) {
  .modal-explore__container {
    max-width: 538px;
    max-height: 412px;
  }

  .modal-explore__content {
    max-height: 412px;

    padding: 40px;
    gap: 28px;
  }

  .modal-explore__form-input {
    max-width: 313px;
    font-size: 18px;
    padding: 15px 24px;
  }

  .modal-explore__form-btn {
    left: 321px;

    padding: 18px 32px;
  }
}
/*=========================================*/
/*===================footer===media===tablet============*/
@media screen and (min-width: 768px) {
  .footer {
    padding: 50px 0;
  }
  .footer-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: unset;
    margin-bottom: 50px;
  }
  .footer-up__title {
    max-width: 300px;
  }
  .footer-up__content {
    gap: 50px;
  }
  .footer-up__social {
    gap: 18px;
  }
  .footer__list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    justify-content: flex-start;
  }
}
/*===================footer===media===desktop============*/
@media screen and (min-width: 1136px) {
  .footer-up {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: unset;
    margin-bottom: 62px;
  }
  .footer-up__title {
    font-size: 28px;
    max-width: 310px;
  }
  .footer-up__content {
    gap: 63px;
  }
}
