/*0000000000000000000000000000000000000000000*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:visited {
  color: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
textarea {
  display: block;
  resize: none;
}
