@import url("./reset.css");
@import url("./modals.css");
/*=========================================*/
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.title span {
  color: #fd9222;
}
.section {
  padding: 36px 0;
}
/*=========================================*/
.header {
  margin-bottom: 14px;
  margin-top: 20px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-link {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.header-link__text {
  text-transform: uppercase;
  color: #111;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.03em;
}
.header-link__text span {
  font-style: italic;
}
.header-burger svg {
  stroke: #111111;
}

/*===================hero==section====================*/
.hero-section {
  padding: 0 20px;
  padding-bottom: 71px;
}
.hero-container {
  background-image: url(../image/hero-section/chocolate-mob.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  padding: 395px 20px 21px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-resolution: 192dpi) {
  .hero-container {
    background-image: url(../image/hero-section/chocolate-mob@2x.png);
  }
}

.hero-title {
  max-width: 295px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  letter-spacing: -3%;
}

.hero-clicks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.hero-clicks-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.left-button {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  padding: 12px 28px;
  border-radius: 100px;
  outline: none;
  transition: all 250ms;
}

.hero-buy {
  background: rgb(253, 146, 34);
}

.hero-made,
.hero-made:visited {
  border: 1px solid rgb(255, 255, 255);
  background: none;
  color: #fff;
}
.hero-buy:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}

.hero-made:hover {
  color: #fd9222;
  border: 1px solid #fd9222;
  background: none;
}
.hero-link-down {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.hero-link-down span {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -3%;
}
.hero-link-down svg {
  display: block;
  box-sizing: content-box;
  padding: 11px 10px;
  margin: 0;
  fill: rgb(253, 146, 34);
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.hero-link-down svg {
  animation: moveDown 1s ease infinite alternate;
}
@keyframes moveDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
/*===================about==section====================*/
.about-us {
  background: rgb(30, 24, 35);
}
.about-us__container {
  padding: 20px;
}
.about-us__title {
}
.about-us__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.about-us__item {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.item-about__svg {
  display: flex;
  align-self: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  padding: 17px;
  transition: all 250ms;
}
.item-about__svg svg {
  fill: rgb(253, 146, 34);
}
.item-about__svg:hover {
  transform: scale(1.1);
}
.item-about__content {
  max-width: 308px;
}
.item-about__title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  margin-bottom: 18px;
}
.item-about__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -2%;
}
/*===================sensations==section====================*/

.sensations__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

.sensations__text {
  text-align: center;
  line-height: 129%;
  letter-spacing: -0.02em;
}
.sensations__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sensations__item {
  position: relative;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding: 28px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fd9222;
  color: #111111;
  overflow: hidden;
  gap: 25px;
  cursor: pointer;
  transition: all 250ms;
}
.sensations__item:hover .item-overwiev {
  transform: translateY(0%);
}
.sensations__item img {
  display: block;
  margin: 0;
}
.sensations__item.orange {
  background: #fd9222;
  color: #fff;
  border: none;
}
.sensations__item.black {
  background: #1e1823;
  color: #fff;
  border: none;
}
.sensations__item-title {
  align-self: self-start;
  font-weight: 600;
}
.item-overwiev {
  background-color: #fafafa;
  color: #111111;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  padding: 28px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  transform: translateY(100%);
  overflow: hidden;
  transition: all 250ms;
}
.item-overwiev__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item-overwiev__title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
}
.item-overwiev__btns {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
}
.item-overwiev__btn {
  white-space: nowrap;
  padding: 6px 16px;
  border-radius: 35px;
  font-size: 10px;
  line-height: 120%;
}
.item-overwiev__btn.left {
  background-color: #fd9222;
  color: #ffffff;
}
.item-overwiev__btn.right {
  border: 1px solid #fd9222;
  color: #111;
}
.item-overwiev__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  max-height: 146px;
  text-transform: initial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}
.sensations__item {
  overflow: hidden;
}
/*===================how-made==section====================*/
.how-made__title {
  margin-bottom: 32px;
}

.how-made__content-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.how-made__image img {
  border-radius: 15px;
}
.how-made__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-made__content-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
}
.how-made__content-list {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 18px;
  list-style-type: circle;
  margin: 0 auto;
}
.how-made__item {
  list-style: disc;
  line-height: 129%;
  letter-spacing: -0.02em;
}
li::marker {
  color: #4c4c4c;
  background-color: #4c4c4c;
  font-size: 20px;
}
/*===================products==section====================*/
/*===================swiper====================*/
.swiper {
  width: 100%;
  /* height: 100%; */
  /* height: 200px; */
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: inherit;
  display: flex;

  justify-content: center;
  align-items: center;
}
.swiper-wrapper {
  display: flex;
  margin: 0 auto;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  position: static;
}
.swiper-pagination span {
  height: 13px;
  width: 13px;
}
.swiper-pagination-bullet-active {
  background-color: #fd9222;
  width: 28px !important;

  border-radius: 15px;
}

/*=======================================*/
.products__title {
  margin-bottom: 32px;
}
.products__slide {
  background: #fff;
  padding: 32px 52px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.products__slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.products__slide-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.products__slide-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  white-space: nowrap;
  text-transform: uppercase;
}
.products__slide-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.products__slide-btn {
  font-weight: 600;
  font-size: 14px;
  padding: 8px 20px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  background-color: #fafafa;
  transition: all 250ms;
}
.products__slide-btn:hover {
  background-color: #e6e6e6;
}
/*=======================================*/
.sellers__title {
  margin-bottom: 32px;
}
.sellers__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.sellers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sellers__item img {
  border-radius: 15px;
}
.sellers__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
}
.sellers__item2 {
  display: none;
}
.sellers__item-picture {
  border-radius: 15px;
}
.sellers__item-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 12px 28px;
  border-radius: 100px;
  background-color: #fd9222;
  transition: all 250ms;
}
.sellers__item-btn:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}
/*=======================================*/

/*=======================================*/
.is-love {
  padding-bottom: 72px;
}
.is-love__title {
  margin-bottom: 74px;
}
.my-is-love-swiper {
  overflow-x: hidden;
  overflow: visible;
  width: 100%;
  /* height: 100%; */
  /* height: 200px; */
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 20px;
  margin-bottom: 32px;
}
.swiper-slide {
  overflow-y: visible;
  height: auto;
}
.is-love__slide {
  position: relative;
  padding: 42px 18px;
  padding-top: 56px;
  box-shadow: 0 9px 27px 0 rgba(215, 228, 249, 0.25);
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.is-love__slide img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.is-love__slide-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.is-love__slide-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
}
.is-love__slide-text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.swiper-is-love-pagination {
  position: static;
  text-align: center;
}
.swiper-is-love-pagination span {
  height: 13px;
  width: 13px;
}
.swiper-is-love-pagination-bullet-active {
  background-color: #fd9222;
  width: 28px !important;

  border-radius: 15px;
}
.is-love__btn {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-self: center;
  align-self: center;
  border: 1px solid #fd9222;
  background-color: inherit;
  border-radius: 100px;
  padding: 12px 28px;
  transition: all 250ms;
}
.is-love__btn:hover {
  color: #fff;
  background-color: #fd9222;
}
/*=======================================*/
/*=======================================*/
.explore {
  padding-top: 63px;
  padding-bottom: 63px;
  background-image: url(../image/subscribe/Subcribe-mob.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-resolution: 192dpi) {
  .explore {
    background-image: url(../image/subscribe/Subcribe-mob@2x.jpg);
  }
}
.explore__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.explore__title {
  color: #fff;
}
.explore__text {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.explore__btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 12px 28px;
  border-radius: 100px;
  background-color: #fd9222;
  transition: all 250ms;
}
.explore__btn:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}
/*=======================================*/
/*=======================================*/

.footer {
  background-color: #1e1823;
  color: #ffffff;
  padding: 32px 0;
}
.footer-up {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
.footer-up__title {
  text-align: start;
  text-transform: none;
  max-width: 254px;
}
.footer-up__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-up__contacts {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: flex-start;
}
.footer-up__contacts-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
}
.footer-up__contacts-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
}
.footer-up__contact-link {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  transition: all 250ms;
}
.footer-up__contact-link:hover {
  color: #fd9222;
}
.footer-up__social {
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer-up__link svg {
  stroke: #ffffff;
  fill: transparent;
  transition: all 250ms;
}
.footer-up__link svg:hover {
  stroke: #fd9222;
}
.footer__list {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: flex-start;
}
.footer__item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #fff;
  transition: all 250ms;
}
.footer__item-link:hover {
  color: #fd9222;
}
