/*0000000000000000000000000000000000000000000*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:visited {
  color: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*=========================================*/
.header {
  margin-bottom: 14px;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  /* position: relative; */
  /* overflow: hidden; */
}

.header-container {
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.header-link__text {
  text-transform: uppercase;
  color: #111;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.03em;
}

.header-link__text span {
  font-style: italic;
}

.header-burger {
}

.header-burger svg {
  stroke: #111111;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.title span {
  color: #fd9222;
}
/*====================modal=====================*/
.modal {
  position: absolute;
  background: #1e1823;
  visibility: hidden;
  opacity: 0;
  top: 0;
  right: 0;
  z-index: 5000;
  pointer-events: none;
  transform: translateX(100%);
  transition: all 500ms;
}

.modal.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.modal-container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 220px;
  min-height: 100%;
  min-height: 812px;
  display: flex;
  flex-direction: column;
}

.modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
}

.modal-close svg {
  stroke: #ffffff;
  transition: all 250ms;
}

.modal-close svg:hover,
.modal-close svg:focus {
  stroke: #c4c4c4;
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 88px 30px 0 30px;
  margin-bottom: auto;
}

.modal-item {
  color: #fff;
}

.modal-item__link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: all 250ms;
}

.modal-item__link:hover,
.modal-item__link:focus {
  color: #c4c4c4;
}

.modal-social {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 18px;
}

.modal-social__link {
}

.modal-social__link svg {
  stroke: #ffffff;
}

/*===================hero==section====================*/
.section {
  padding: 72px 0;
}

.hero-section {
  padding: 0 20px;
  padding-bottom: 71px;
}

.container {
}

.hero-container {
  background-image: url(../image/hero-section/chocolate-mob.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  padding: 395px 20px 21px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-resolution: 192dpi) {
  .hero-container {
    background-image: url(../image/hero-section/chocolate-mob@2x.png);
  }
}

.hero-title {
  max-width: 295px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  letter-spacing: -3%;
}

.hero-clicks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.hero-clicks-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.left-button {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  padding: 12px 28px;
  border-radius: 100px;
  outline: none;
  transition: all 250ms;
}

.hero-buy {
  background: rgb(253, 146, 34);
}

.hero-made {
  border: 1px solid rgb(255, 255, 255);
  background: none;
}
.hero-buy:hover {
  background: rgb(199, 105, 4);
}

.hero-made:hover {
  color: rgb(173, 167, 167);
  border: 1px solid rgb(173, 167, 167);
  background: none;
}

.hero-click {
}

.hero-link-down {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.hero-link-down span {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -3%;
}
.hero-link-down svg {
  display: block;
  box-sizing: content-box;
  padding: 11px 10px;
  margin: 0;
  fill: rgb(253, 146, 34);
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
.hero-link-down svg {
  animation: moveDown 1s ease infinite alternate;
}
@keyframes moveDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}
/*===================about==section====================*/
.about-us {
  background: rgb(30, 24, 35);
}
.section {
}
.container {
}
.about-us__container {
  padding: 20px;
}
.about-us__title {
}
.about-us__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.about-us__item {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.item-about {
}
.item-about__svg {
  display: flex;
  align-self: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  padding: 17px;
  transition: all 250ms;
}
.item-about__svg svg {
  fill: rgb(253, 146, 34);
}
.item-about__svg:hover {
  transform: scale(1.1);
}
.item-about__content {
  max-width: 308px;
}
.item-about__title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  margin-bottom: 18px;
}
.item-about__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -2%;
}

/*===================sensations==section====================*/
.sensations {
}
.section {
}
.container {
}
.sensations__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

.sensations__text {
  text-align: center;
  line-height: 129%;
  letter-spacing: -0.02em;
}
.sensations__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sensations__item {
  position: relative;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding: 28px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fd9222;
  color: #111111;
  overflow: hidden;
  gap: 25px;
  cursor: pointer;
  transition: all 250ms;
}
.sensations__item:hover .item-overwiev {
  transform: translateY(0%);
}
.sensations__item img {
  display: block;
  margin: 0;
}
.sensations__item.orange {
  background: #fd9222;
  color: #fff;
  border: none;
}
.sensations__item.black {
  background: #1e1823;
  color: #fff;
  border: none;
}
.sensations__item-title {
  align-self: self-start;
  font-weight: 600;
}
.item-overwiev {
  background-color: #fafafa;
  color: #111111;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  padding: 28px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  transform: translateY(100%);
  overflow: hidden;
  transition: all 250ms;
}
.item-overwiev__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item-overwiev__title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 100%;
  white-space: nowrap;
}
.item-overwiev__btns {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
}
.item-overwiev__btn {
  white-space: nowrap;
  padding: 6px 16px;
  border-radius: 35px;
  font-size: 10px;
  line-height: 120%;
}
.item-overwiev__btn.left {
  background-color: #fd9222;
  color: #ffffff;
}
.item-overwiev__btn.right {
  border: 1px solid #fd9222;
  color: #111;
}
.item-overwiev__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  max-height: 146px;
  text-transform: initial;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8; /* сколько строк */

  overflow: hidden;
}
.sensations__item {
  overflow: hidden;
}
/*===================how-made==section====================*/
/* .how-made {
}
.section {
}
.container {
} */
.how-made__title {
  margin-bottom: 32px;
}

.how-made__content-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.how-made__image img {
  border-radius: 15px;
}
.how-made__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-made__content-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
}
.how-made__content-list {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 18px;
  list-style-type: circle;
  margin: 0 auto;
}
.how-made__item {
  list-style: disc;
  line-height: 129%;
  letter-spacing: -0.02em;
}
li::marker {
  color: #4c4c4c;
  background-color: #4c4c4c;
  font-size: 20px;
}
